@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "pangolin", sans-serif;
  line-height: 1.6rem; }

.moves {
  display: flex;
  justify-content: center; }
  .moves__img {
    margin: 3rem 5rem;
    cursor: pointer;
    width: 10rem; }
    .moves__img:hover {
      opacity: 0.7; }

@media only screen and (max-width: 767px) {
  .moves__img {
    margin: 3rem 1rem;
    height: 13rem; } }

@media only screen and (max-width: 374px) {
  .moves__img {
    height: 10rem; } }

.score {
  display: flex;
  justify-content: center;
  margin: 1rem; }
  .score__para {
    font-size: 3rem;
    padding: 2rem;
    background-color: darkseagreen;
    margin: 2rem;
    border: none;
    border-radius: 0.5rem; }

@media only screen and (max-width: 475px) {
  .score__para {
    font-size: 1.5rem;
    padding: 1rem; } }

.restart-btn {
  display: none;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  color: black; }
  .restart-btn:hover {
    color: #fff;
    background-color: #000; }

.container {
  height: 100vh;
  padding: 3rem 3rem;
  text-align: center;
  background-image: linear-gradient(to right, #da8cd4, #dfc3d7); }

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem; }

h1 {
  color: fuchsia;
  text-transform: uppercase;
  font-size: 3rem; }

h2 {
  padding-top: 2rem;
  font-size: 2rem; }

@media only screen and (max-width: 767px) {
  h1,
  h2 {
    font-size: 2.2rem; } }

@media only screen and (max-width: 374px) {
  h1,
  h2 {
    font-size: 1.5rem; } }

.text-win {
  color: #1a2b1d;
  font-size: 3rem;
  margin-top: 1.5rem;
  letter-spacing: 0.2rem; }

.p1 {
  color: #000;
  font-size: 1.5rem;
  padding-top: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem; }
